#root {
  margin: 0px;
  padding: 0px;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.signout-dropdown {
  display: inline-block;
  float: right;
  font-size: smaller;
  margin-top: 6px;
  margin-right: 8px;
}

#header .Dropdown-arrow {
  right: 6px;
  top: 9px;
}

#header .Dropdown-control {
  padding: 4px;
  padding-right: 20px;
  background-color: whitesmoke;
}

#desktop {
  position: relative;
  max-width: 500px;
  margin: auto;
  padding: 10px 20px;
  height: calc(100% - 35px);
  padding-bottom: 13px;
  /*bottom: calc(-15%);*/
}

.recent-call-number:hover {
  text-decoration: underline;
}


#agent-state {
  position: relative;
}

#agent-state .Dropdown-control {
  width: 100%;
  color: #FFF;
  background-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
}

#agent-state .Dropdown-arrow {
  border-color: #fff transparent transparent;
}

#agent-state .is-open .Dropdown-arrow {
  border-color: transparent transparent #fff;
}

#agent-state .Dropdown-control {
  background-color: #e0a009
}

#agent-state.READY .Dropdown-control {
  background-color: #6aca54;
}

#agent-state.NOT_READY .Dropdown-control {
  background-color: #cd1313;
}

.buttons {
  margin-left: -20px;
    margin-top: 20px;
}

#main {
  width: 100%;
  height: 100%;
  position: absolute;
}

.login-section {
  position: relative;
  width: 250px;
  margin: auto;
  padding: 10px;
  bottom: calc(-15%);
}

.login-form input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0px;
  border: 1px solid gray;
  border-radius: 5px;

  color: #333;
  background-blend-mode: multiply;
  font-size: 14px;
}

.login-form input[type="submit"] {
  border: 2px solid #333;
  border-radius: 25px;
  background-color: transparent;
  margin-top: 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

/** Call Panel **/

.call-header {
  margin-top: 10px;
  background-color: #EEE;
  padding: 10px 2px 10px 10px;
  cursor: pointer;
  border: 1px solid #DDD;
  height: 40px;
}

.call-controls {
  background-color: #EEE;
  border: 1px solid;
  border-color: #DDD;
  height: 40px;
}

.call-header .header-phone-icon {
  margin-top: 0px;
}

.call-header .header-other-party {
  margin-top: 0px;
}

.call-content {
  padding: 10px;
  background-color: #F9F9F9;
  transition: 0.2s;
  overflow: hidden;
  border: 1px solid;
  border-color: transparent #DDD #DDD #DDD;
}

/** Dial Pad **/


.make-call input {
    display: inline-block;
    position: relative;
    clear: both;
    float: none;
    width: calc(100% - 90px);
    background-color: #FFF;
    border: 1px solid rgba(24,31,37,0.15);
    border-radius: 4px;
    color: rgba(24,31,37,0.7);
    font-size: 16px;
    line-height: 140%;
    padding: 6px 12px;
}

.make-call-clear {
  margin-left: -29px;
  margin-top: 3px;
  height: 30px;
  width: 26px;
  position: absolute;
  padding-top: 5px;
  padding-left: 2px;
  cursor: pointer;
  background-color: #EFEFEF;
  border-radius: 4px;
  opacity: 0;
}

.make-call-form:hover .make-call-clear {
  opacity: 0.75;
}

.make-call-form:hover .make-call-clear:active {
  opacity: 1.0;
}

.make-call form {
  width: 100%;
  text-align: center;
  margin: auto;
}

.make-call form .dial-pad {
  text-align: center;
  background-color: white;
  border: 1px solid rgba(24,31,37,0.15);;
  border-radius: 4px;
  margin-bottom: 10px;
  display: inline-block;
}

.make-call form .dial-pad a {
  border-bottom: 1px solid rgba(24,31,37,0.10);
  border-right: 1px solid rgba(24,31,37,0.10);
  color: #AAA;
  cursor: pointer;
  float: left;
  font-size: 22px;
  padding: 15px;
  width: calc(100% / 3);
}

.make-call form .dial-pad a:nth-child(3n) {
  border-right: none;
}

.make-call form .dial-pad a:nth-child(n+10) {
  border-bottom: none;
}

.make-call form .dial-pad a:hover {
  color: #222;
  background-color: #FCFCFC;
}

.make-call form a.cta {
    background-color: #6aca54;
    color: #fff;
}

.cta i {
  font-size: 16px;
  vertical-align: middle;
}

.cta span {
  margin-left: 10px;
  vertical-align: middle;
  font-weight: bold;
}

a.cta {
    padding-left: 38px;
    user-select: none;
    display: inline-block;
    position: relative;
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: #6aca54;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0.04em;
    padding: 6px 8px;
    text-transform: uppercase;
    width: 80px;
    margin-left: 10px;
    line-height: 140%;
    vertical-align: middle;
    margin-bottom: 2px;
}

a.cta.end {
  background-color: #cd1313;
  position: absolute;
  right: 5px;
  top: 5px;
}

.cta.end i {
  transform: rotate(135deg);
  margin-left: 4px;
}

.dial-pad {
  margin: auto;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 9px;
  width: 254px;
  border: 1px solid #AAA;
  display: inline-block;
  margin-left: calc(50% - 126px);
      
}
.dial-pad a {
        border-bottom: 1px solid #AAA;
        border-left: 1px solid #AAA;
        /* border-right: 1px solid grey; */
        color: #666;
        cursor: pointer;
        float: left;
        /* font-family: "Source-Sans-Pro-L"; */
        font-size: 22px;
        padding: 8px;
        width: calc(100% / 3);
        text-align: center;
        transition: color 0.5s;
}

.dial-pad a:nth-child(1) {
  /* border-top-left-radius: 4px; */
  border-left: none;
}

.dial-pad a:nth-child(1) {
  border-top-left-radius: 4px;
}

.dial-pad a:nth-child(3) {
  border-top-right-radius: 4px;
}

.dial-pad a:nth-child(10) {
  border-bottom-left-radius: 4px;
}

.dial-pad a:nth-child(12) {
  border-bottom-right-radius: 4px;
}

.dial-pad a:nth-child(3n + 1) {
  border-left: none;
}

.dial-pad a:nth-child(3n) {
  /* border-right: 1px solid grey; */
}

.dial-pad a:nth-child(10) {
  border-bottom: none;
}
.dial-pad a:nth-child(11) {
  border-bottom: none;
}
.dial-pad a:nth-child(12) {
  border-bottom: none;
}

.dial-pad a:hover {
  color: #222;
  background-color: #EFEFEF;
}

.dial-pad a:active {
  background-color: #DDD;
}
      /* } // End a
    } // End .dial-pad

    a.cta {
      @include cta($success, transparent);
    }
  }  */


/** Dropdown **/

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}




.call-content {
  float: left;
  width: 100%;
}


/* buttons */
.round-button {
    display: inline-block;
    position: relative;
    width: 10%;
    transition: all .2s ease-in-out;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    font-weight: lighter;
    line-height: 1;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    margin-right: 12px;
    outline: 0;
    text-align: center;
}




#hangup-but {
  float: right;
  margin-top: -5px;
}
#answer-but {
  float: right;
  margin-top: -5px;
}
#hold-but, #resume-but, #transfer-but, #conference-but {
  float: right;
  margin-top: -5px;
}



.round-button .icon-container {
  display: inline-block;
  border-radius: 2000px;
  height: 25px;
  width: 32px;
  text-align: center;
  cursor: pointer;
}


@keyframes answer {
  0%   { background-color: #6aca54; }
  50%  { background-color: #4fb338; }
  100% { background-color: #6aca54; }
}


.round-button .icon-container.answer {
    background-color: #6ACA54;
    animation: answer 1.3s ease-in-out infinite;
}
.round-button .icon-container.hangup {
    background-color: #d55146;
}
.round-button .icon-container.hold {
    position: relative;
    background-color: #ecbf11;
}
.round-button .icon-container.resume {
    position: relative;
    background-color: #4293d8;
}
.round-button .icon-container.transfer {
    position: relative;
    background-color: #6ACA54;
}
.round-button .icon-container.conference {
    position: relative;
    background-color: #6ACA54;
}



.round-button .icon-container.hangup svg {
  display: block;
  fill: #fff;
  height: 15px;
  margin: 5px auto;
  width: 15px;
}
.round-button .icon-container.hold svg {
  display: block;
  fill: #fff;
  height: 10px;
  margin: 8px auto;
  width: 14px;
}
.round-button .icon-container.resume svg {
  display: block;
  fill: #fff;
  height: 10px;
  margin: 10px auto;
  width: 14px;
}
.round-button .icon-container.conference svg {
  display: block;
  fill: #fff;
  height: 10px;
  margin: 10px auto;
  width: 14px;
}
.round-button .icon-container.transfer svg {
  display: block;
  fill: #fff;
  height: 12px;
  margin: 7px auto;
  width: 12px;
}
.round-button .icon-container.answer svg {
  display: block;
  fill: #fff;
  height: 14px;
  margin: 5px auto;
  width: 14px;
}

.button-icon.resume {
    color: white;
    margin-top: 6px;
    margin-left: 3px;
    font-size: 14px;
}

.button-icon.conference {
    color: white;
    margin-top: 6px;
    margin-left: 1px;
    font-size: 13px;
}



.call-tab {
  height: 80px;
}
.call-controls {
  border: 0;
  height: 0;
  width: 50%;
  float: right;
}



.state-dropdown {
  display: inline-block;
  width: 100%;
  margin-right: -220px;
}

.state-timer {
  opacity: 0.75;
}

.state-dropdown .Dropdown-placeholder {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
  white-space: nowrap;
}
